<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
  	<title><%= title %></title>
	<ng-view></ng-view>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>

    <script type="text/ng-template" id="/todos.html">
    	Search: <input type="text" ng-model="search.name">
    	<ul>
    		<li ng-repeat="todo in todos | filter: search">
    			<input type="checkbox" ng-model="todo.completed">
    			<a href="#!/{{todo._id}}">{{todo.name}}</a>
    		</li>
    	</ul>

    	New task<input type="text" ng-model="newTodo"><button ng-click="save()">Create</button>
    </script>

    <script type="text/ng-template" id="/todoDetails.html">
    	<h1>{{ todo.name }}</h1>
    	completed: <input type="checkbox" ng-model="todo.completed"><br>
    	note: <textarea ng-model="todo.note"></textarea>
    </script>

    <script>
    	angular.module('app', ['ngRoute', 'ngResource'])
    		.factory('Todos', ['$resource', function($resource) {
    			return $resource('/todos/:id', null, {
    				'update': { method:'PUT'}
    			});
    		}])
    		.controller('TodoController', ['$scope', 'Todos', function ($scope, Todos) {
    			$scope.todos = Todos.query();
    			$scope.save = function() {
    				if (!$scope.newTodo || $scope.newTodo.length < 1) return;
    				var todo = new Todos({ name: $scope.newTodo, completed: false});

    				todo.$save(function() {
    					$scope.todos.push(todo);
    					$scope.newTodo = '';
    					console.log("index.ejs, save new id")
    				});
    			}
    		}])
    		.controller('TodoDetailCtrl', ['$scope', '$routeParams', 'Todos', function($scope, $routeParams, Todos) {
    			$scope.todo = Todos.get({id: $routeParams.id});
    		}])
    		.config(['$routeProvider', function($routeProvider) {
    			$routeProvider
	    			.when('/', {
	    				templateUrl: '/todos.html',
	    				controller: 'TodoController'
	    			})
	    			.when('/:id', {
	    				templateUrl: '/todoDetails.html',
	    				controller: 'TodoDetailCtrl'
	    			});
    		}]);
    </script>
  </body>
</html>
